DISCORD_TOKEN=
#Config:Irc:User=qai-test
#Config:Irc:Channels=aeolus,newbie,qai-test

# Oauth2 settings for account linking between IRC and Discord
#Config:Faf:ClientId=
#FAF_CLIENT_SECRET=
#Config:Discord:ClientId=
#DISCORD_CLIENT_SECRET=
#TWITCH_CLIENT_SECRET=

#Logging:LogLevel:Default=Debug
